var thisController = angular.module('PATobjectnamePAT', ['ui.select', 'ngSanitize','PATobjectnamePATService' PATinjectmodulePAT]);

thisController.controller('PATobjectnamePATController', ['$scope', '$http', '$routeParams', '$rootScope', 'PATclassnamePATSrv'PATinjectclassPAT, function ($scope, $http, $routeParams, $rootScope, PATclassnamePATSrv PATinjectobjectPAT) {

	// = = = = = MEDIA VARIABLES
	$scope.i_save_button = "fa fa-pencil";
	$scope.i_reload_button = "fa fa-refresh";
	$scope.i_search_button = "fa fa-search";
	$scope.process_message = "";

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
PATjsforComboInitPAT

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

	$scope.today = function() {
PATjsforDateTodayPAT
	};
	$scope.today();
		
	$scope.setDate = function(year, month, day) {
PATjsforDateInitPAT
	};

PATjsforDateCodePAT

	/* LIST PAGE- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
	// sort
	$scope.sort_by = "id";
	$scope.changeSortBy = function(col) {
		$scope.sort_by = col;
	}
	
	$scope.items_perPage = 10;
	$scope.currentPage = 1;
	
	$scope.init_list = function() {
		$scope.loadList();
	}
	
	$scope.init_entry = function() {
PATiniFKsPAT
	}
	
	$scope.init_edit = function() {
		$scope.loadDetail();
PATiniFKsPAT
	}
	
	// = = = = = RETRIEVE FIRST BATCH
	$scope.loadList = function() {
		$scope.i_reload_button = "fa fa-spinner fa-spin";
		
		var rst = PATclassnamePATSrv.retrieveDefaultList($scope.currentPage);
    rst.then(function(req) {
    	var tmp = req.data;
    	for(var i=0; i<tmp.data.length; i++) tmp.data[i].isCollapse = true;
      
      $scope.result_set = tmp.data;
			$scope.data_count = tmp.count;
			
			$scope.i_reload_button = "fa fa-refresh";
    });
	}
	
	$scope.showDetail = function(item) {
		item.isCollapse = !item.isCollapse;
	}
	
	// = = = = = SEARCH WITH PAGINATION
	$scope.searchList = function() {
		
		if($scope.keyword.length>2){
			$scope.i_search_button = "fa fa-spinner fa-spin";

			var rst = PATclassnamePATSrv.retrieveSearchResultList($scope.currentPage,$scope.keyword);
	    rst.then(function(req) {
	    	var tmp = req.data;
	    	for(var i=0; i<tmp.data.length; i++) tmp.data[i].isCollapse = true;
	      
	      $scope.result_set = tmp.data;
				$scope.data_count = tmp.count;
				
				$scope.i_search_button = "fa fa-search";
	    });
		
		}else
			alert("Harap memasukkan minimal 3 karakter");
	}
	
	// = = = = = PAGINATION CONTROLLER
	$scope.pageChanged = function() {
		if($scope.keyword=="" || $scope.keyword==null)
			$scope.loadList();
		else
			$scope.searchList();
	}
	
	
	/* INPUT PAGE- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
	$scope.insertData = function() {
		$scope.process_message = "";
		$scope.i_save_button = "fa fa-spinner fa-spin";

PATinputpairingPAT

		var rst = PATclassnamePATSrv.createItem($scope.new_item);
    rst.then(function(req) {
    	$scope.process_message = "Data berhasil ditambahkan.";
			$scope.i_save_button = "fa fa-pencil";
    });
	}
	
	/* UPDATE PAGE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
	$scope.loadDetail = function() {
		var rst = PATclassnamePATSrv.retrieveItem($routeParams.id);
    rst.then(function(req) {
    	var item = req.data[0];
    	$scope.loaded_item = item;

PATloadpairingPAT
    });	
	}
	
	$scope.updateData = function() {
		$scope.process_message = "";
		$scope.i_save_button = "fa fa-spinner fa-spin";;
		
PATupdatepairingPAT

		var rst = PATclassnamePATSrv.updateItem($scope.loaded_item);
    rst.then(function(req) {
    	$scope.process_message = "Data berhasil diubah.";
			$scope.i_save_button = "fa fa-pencil";
    });
	}
	
	/* DELETE  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	
	$scope.delData = function(item) {
		if(confirm('Apakah anda yakin hendak menghapus data ini?')){
			var rst = PATclassnamePATSrv.deleteItem(item.id);
	    rst.then(function(req) { $scope.loadList() });
		}
	}
	
}]);