<div class="row" ng-init="init_entry()">
    <div class="col-lg-12">

		<!-- START =================================== -->
        <h1 class="page-header">PATnodenamePAT <small>Tambah Data</small></h1>
        	
		<form role="form">
			
PATinputcomponentsPAT
			
		</form>
		
		<input type="reset" class="btn btn-warning btn-lg"/>
		<button class="btn btn-primary btn-lg" ng-click="insertData()"><i class="{{i_save_button}}"></i> Simpan</button>
		<small class="label label-info">{{process_message}}</small>
		
		<hr/>
		
		<a href="#/PATobjectnamePAT" class="btn btn-default"><i class="fa fa-list"></i> Daftar</a>
		
		<br/><br/>&nbsp;
        <!-- END =================================== -->
        
    </div>
</div>