		<nav role="navigation">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                
                <ul class="nav navbar-nav side-nav">
                	<li><a class="navbar-brand menu-color" href="#/">Beranda</a></li>
                    <li class="divider">&nbsp;<br/></li>
PATMENULINKSPAT
                </ul>
                
            </div>
		</nav>