<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PATAPPNAMEPAT">
    <meta name="author" content="">

    <title>PATAPPNAMEPAT</title>

	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">  <!-- bootstrap -->
    <link href="custom/css/sb-admin.css" rel="stylesheet"><!-- Custom CSS -->
    <link href="bower_components/ui-select/dist/select.css" rel="stylesheet" type="text/css">
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>

<body ng-controller="thisController" ng-init="init()">

	<!-- MENU SECTION -->

	<hr/>

	<!-- LIST SECTION -->
	<!-- EDIT SECTION (MAKE IT INSIDE THE TABLE (SEE SIKTASIK FOR REFERENCE)) -->
	
	<!-- ENTRY SECTION -->
	

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<!-- angular -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script> 
	<script src="bower_components/ui-select/dist/select.js"></script> 
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<!--
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	-->
	
	<script type="text/javascript">
		
		var thisController = angular.module('app', []).controller('thisController', ['$scope', '$http', function ($scope, $http) {
			
			$scope.init = function() {
				console.log("READY");
			}
			
		}]);
	
	</script>
    
</body>
</html>