<?php
date_default_timezone_set('PATtimezonePAT');

class ModelPATclassnamePAT {
	
	public function CreateOne($input) {
		$item = R::dispense('PATtablenamePAT');
PATcreatepairingPAT
		
		$id = R::store($item);
		if($id) 
			return $id;
		else
			return false;
	}
	
	// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
	
	public function RetrieveAll() {
		$items = R::find('PATtablenamePAT');
		return R::exportAll($items);
	}
	
	public function RetrievePerPage($page, $dir) {
		$rst = array();
		$count = R::getAll( "SELECT COUNT(id) AS total FROM PATtablenamePAT" );
		$rst["count"] = $count[0]["total"];
		
		$perpage = 10;
		
		$start = ($page-1)*$perpage;
		//WITH NO FK
		//$query = "SELECT PATtablenamePAT.* FROM PATtablenamePAT ORDER BY PATtablenamePAT.id ".$dir." LIMIT ".$start.",".$perpage;
		//WITH FK
		$query = "SELECT PATtablenamePAT.* PATforeignkeysqlPAT_COL FROM PATtablenamePAT PATforeignkeysqlPAT_TBL WHERE 1 PATforeignkeysqlPAT_WHERE ORDER BY PATtablenamePAT.id ".$dir." LIMIT ".$start.",".$perpage;		

		$data = R::getAll($query);
		$rst["data"] = $data;

		return $rst;
	}
	
	public function RetrieveOne($id) {
		//WITH NO FK
		/*
		$items = R::findOne('PATtablenamePAT', 'id=?', array($id));
		if ($items) {
			return R::exportAll($items);
		}
		*/
		
		//WITH FK
		$query = "SELECT PATtablenamePAT.* PATforeignkeysqlPAT_COL FROM PATtablenamePAT PATforeignkeysqlPAT_TBL WHERE PATtablenamePAT.id = $id PATforeignkeysqlPAT_WHERE";
		$data = R::getAll($query);
		return $data;
	}
		
	public function RetrieveFind($page,$keyword) {
		$rst = array();
		$count = R::getAll( 'SELECT COUNT(id) AS total FROM PATtablenamePAT WHERE PATdefaultsearchcolumnPAT LIKE ?', [ '%'.$keyword.'%' ] );
		$rst["count"] = $count[0]["total"];
	
		$perpage = 10;
		
		$start = ($page-1)*$perpage;
		//WITH NO FK
		//$data = R::getAll( 'SELECT * FROM PATtablenamePAT WHERE PATdefaultsearchcolumnPAT LIKE ? ORDER BY id ASC LIMIT '.$start.','.$perpage, [ '%'.$keyword.'%' ] );
		//WITH FK
		$data = R::getAll( 'SELECT PATtablenamePAT.* PATforeignkeysqlPAT_COL FROM PATtablenamePAT PATforeignkeysqlPAT_TBL WHERE PATtablenamePAT.PATdefaultsearchcolumnPAT LIKE ? PATforeignkeysqlPAT_WHERE ORDER BY PATtablenamePAT.id ASC LIMIT '.$start.','.$perpage, [ '%'.$keyword.'%' ]  );	
		
		$rst["data"] = $data;

		return $rst;
	}

	// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
		
	public function UpdateOne($input) {
		$id_itemToUpdate = (string)$input->id;
		
		$item = R::findOne('PATtablenamePAT', 'id=?', array($id_itemToUpdate));  
		if($item) {
			$item->created_ts = date("Y-m-d H:i:s");
PATupdatepairingPAT

			R::store($item);    

			return true;
		} else
			return false;
	}
	
	// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
	
	public function DeleteOne($id) {
		$itemToDelete = R::findOne('PATtablenamePAT', 'id=?', array($id));  
	
		if($itemToDelete) {
			R::trash($itemToDelete);
			return true;
		} else {
			return false;
		}
	}
	
}

?>